#login_form, #signup_form {
    width: 100vw;
    height: 100vh;
    padding: 100px 0 50px 0;
    background-color: rgba(143, 143, 143, 0.664);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: none;
    width: 500px;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
    border-radius: 10px;
}

input {
    padding: 10px;
    outline: none;
    font-size: 1rem;
    margin: 5px;
}

#loginBtn, #signupBtn {
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(255, 102, 0);
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

label {
    font-size: 1rem;
}

#signup_btn, #gotoLogin{
    margin-top: 10px;
    color: #6005b4;
    text-decoration: underline;
    cursor: pointer;
}

#message {
    display: none;
    color: rgb(255, 102, 0);
}