* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100vw;
  background-color: white;
  position: fixed;
}

.navbar {
  padding-top: 70px;
  padding-right: 30px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_header {
  padding-top: 10px;
}

.logo_box {
  cursor: pointer;
  margin-left: 2vw;
}

.logo_img {
  width: 60px;
}

span {
  color: rgb(255, 102, 0);
}

.search_bar {
  width: 30vw;
  height: 40px;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 0.9rem;
  background-color: #cccccc3f;
  outline: none;
}

.search_options {
  display: none;
  float: right;
  width: 30vw;
  position: absolute;
  background-color: white;
  box-shadow: 0px 2px 5px #ccc;
}

.search_option {
  padding: 7px 0 7px 20px;
  list-style-type: none;
  cursor: pointer;
  text-align: left;
  line-height: 2rem;

  &:hover {
    background-color: #cccccc88;
  }
}

.login_box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px 7px;
  cursor: pointer;
  color: #4b4b4b;

  &:hover {
    background-color: #cccccc66;
  }
}

.library_box {
  margin-left: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px 7px;
  cursor: pointer;
  margin-right: 2vw;
  color: #4b4b4b;

  &:hover {
    background-color: #cccccc66;
  }

  &:hover .library_btn {
    background-color: #cccccc2c;
  }
}

.login_btn {
  width: 28px;
  height: 28px;
  margin-right: 5px;
  background-image: url(profile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.library_btn {
  width: 28px;
  height: 28px;
  margin-right: 5px;
  background-color: white;
  background-image: url(https://cdn-icons-png.flaticon.com/512/29/29302.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* ............................navbar style................................. */
.dropdown-toggle {
  list-style: none;
  float: right;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

.dropdown-menu {
  display: inline-block;
  line-height: 5vh;
}

.option {
  padding: 7px 0 7px 20px;
  list-style-type: none;
  cursor: pointer;
  text-align: left;
}

.option:hover {
  color: white;
  background-color: rgb(255, 102, 0);
}

.options {
  display: none;
  float: right;
  width: 200px;
  position: absolute;
  background-color: white;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 50px;
  border: none;
  cursor: pointer;
  margin-right: 1vw;
}

@media (max-width: 1400px) {
  .menu {
      font-size: 0.9rem;
  }
}

.mini-menu {
  width: 10px;
  height: 8px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/60/60995.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0px 0 0 7px;
}

.dropdown-menu:hover .options {
  display: block;
}

.dropdown-menu:hover .menu {
  border-bottom: 0.5vh solid rgb(255, 102, 0);
}


/* ............................content style................................. */
.hero {
  margin-top: 50px;
  height: 65vh;
  background-image: url(https://www.creativefabrica.com/wp-content/uploads/2022/08/15/Broken-White-Book-Store-Hero-Section-Graphics-36222978-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sec {
  margin: 20px 0;
}

.label {
  width: 70vw;
  height: 100px;
  background-color: rgb(255, 102, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 30px;
  color: white;
}

.text {
  color: #e7e7e7;
}

.forStyle {
  width: 70px;
  height: 70px;
  margin-left: -35px;
  background-color: white;
  transform: rotate(45deg);
}

.books {
  display: flex;
  padding: 20px 30px 20px 30px;
  height: fit-content;
  gap: 30px;
  overflow-x: auto;
}

.book {
  width: 250px;
  height: 390px;
  background-color: #7979793f;
  border-radius: 5px;
  float: left;
  cursor: pointer;
  border: 1px solid #7979793f;
  background-repeat: no-repeat;
  background-size: contain;
}

.book1 {
  background-image: url(https://marketplace.canva.com/EAGG2TOoO7A/1/0/1024w/canva-blue-and-white-modern-business-book-cover-ebook-r7Yl7pLyosw.jpg);
}

.book2 {
  background-image: url(https://marketplace.canva.com/EAE7HbeUHuE/1/0/1024w/canva-yellow-and-black-simple-textured-learn-basic-design-ebook-cover-zXspWQ8laP4.jpg);
}

.book3 {
  background-image: url(https://marketplace.canva.com/EAFzmEHEJPw/2/0/1024w/canva-neutral-minimalist-aesthetic-time-management-ebook-cover-PSoR42xOBIE.jpg);
}

.book4 {
  background-image: url(https://marketplace.canva.com/EAFYQLZhxpI/2/0/1024w/canva-black-textured-self-help-ebook-cover-mea-L0tQ5HA.jpg);
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 27, 27);
}

.footer_logo {
  width: 280px;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.tvs_svg {
  width: 100%;
  height: 100px;
  margin-top: 30px;
  background: url(logo.png) no-repeat;
  background-size: contain;
}

.footer_col {
  color: rgba(255, 255, 255, 0.7);
  line-height: 35px;
  margin: 15px;
}

.item {
  padding-left: 25px;
}

.contact {
  width: 100vw;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.06);
  margin: 0 50px;
}
